@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0B5FFF;
  --color-secondary: #4DA3FF;
  --color-accent: #FFB703;
  --color-neutral: #F7FAFF;
  --color-text: #0B1736;
  --color-base-100: #ffffff;
  --color-base-200: #fafaf9;
  --color-success: #10b981;
  --color-error: #ef4444;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.my-btn {
  background-color: #0B5FFF;
  border: 2px solid #0B73FF;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.my-btn:hover {
  background-color: #FFB703;
  color: black;
  border-color: #0B5FFF;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(249, 115, 22, 0.3);
}

.my-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(14, 165, 164, 0.3);
}

.navbar .active {
  color: #0B5FFF;
  font-weight: 600;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  background: #fafaf9;
  transition: all 0.2s ease-in-out;
  @apply dark:bg-gray-300
}
.navbar .active:hover {
  box-shadow: 0 2px 6px rgba(41, 67, 155, 0.15);
}

/* CTA Button CSS */
.cta_btn {
  @apply inline-flex items-center gap-3 px-6 py-3 rounded-lg shadow-md bg-primary text-base-100 font-medium hover:bg-accent hover:text-black transition dark:hover:bg-[#FFB703]
}


.small-swal-popup {
  width: 250px !important;
  height: 120px !important;
  font-size: 8px !important;
  padding: 6px !important;
}

.medium-swal-popup {
  width: 250px !important;
  height: 150px !important;
  font-size: 8px !important;
  padding: 6px !important;
}

.confirmation-swal-popup {
  width: 350px !important;
  height: 300px !important;
  font-size: 14px !important;
  padding: 6px !important;
}